@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-y-gdn-to-rby {
    background: linear-gradient(360deg, hsla(350, 60%, 23%, 1) 27%, hsla(43, 74%, 66%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .img-overlay-container {
    position: relative;
    display: inline-block;
  }

  .img-overlay-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 20%, 0.6);
    z-index: 2;
  }

  .overlay-text {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
